<div *ngIf="!isLoggedIn()">
    <header>
        <h1>Home</h1>
    </header>
    <div class="container">
        <form class="form form--login" [formGroup]="loginForm" (ngSubmit)="login()">
            <h2>Willkommen zurück</h2>
            <div class="profile-img">
                <img src="../assets/profile.png" alt="">
            </div>
            <div class="field">
                <mat-form-field class="full-width-field" appearance="standard">
                    <mat-icon matSuffix aria-hidden="false" aria-label="Example home icon">email</mat-icon>
                    <mat-label>E-Mail-Adresse eingeben</mat-label>
                    <input matInput type="email" id="username" formControlName="username">
                </mat-form-field>
                <div *ngIf="loginForm.get('username').invalid &&
                    (loginForm.get('username').dirty || loginForm.get('username').touched) &&
                    loginForm.get('username').hasError('required')" class="error-message">
                    Benutzername ist verpflichtend
                </div>
                <div *ngIf="loginForm.get('username').invalid &&
                    (loginForm.get('username').dirty || loginForm.get('username').touched) &&
                    loginForm.get('username').hasError('email')" class="error-message">E-Mail Format überprüfen
                </div>
            </div>
            <div class="field">
                <mat-form-field class="full-width-field" appearance="standard">
                    <mat-icon matSuffix aria-hidden="false" aria-label="Example home icon">lock</mat-icon>
                    <mat-label>Passwort eingeben</mat-label>
                    <input matInput id="password" type="password" formControlName="password">
                </mat-form-field>
                <div *ngIf="loginForm.get('password').invalid &&
                    (loginForm.get('password').dirty || loginForm.get('password').touched)" class="error-message">
                    Passwort ist verpflichtend
                </div>
            </div>

            <button type="submit" class="button button--full-width" [disabled]="loginForm.invalid">Login</button>
        </form>
    </div>
</div>
<div *ngIf="isLoggedIn()">
    <header>
        <h1>Startseite von {{getName()}}</h1>
        <button type="button" class="ui button" (click)="logout()">Logout</button>

    </header>
    <div class="container">

        <div [ngClass]="{'shopping-lists--2child': openLists && openLists.length == 2}" class="shopping-lists shopping-lists--open">
            <h2>Unerledigte Einkaufslisten</h2>
            <div *ngFor="let shoppingList of openLists" class="sl-shopping-list shopping-list" [shoppingList]="shoppingList">
            </div>
            <p *ngIf="openLists && openLists.length == 0">Du bearbeitest gerade keine Listen...</p>
        </div>

        <button class="button button--transparent" (click)="showDoneLists($event)"><i class="fas fa-archive"></i>erledigte Listen anzeigen</button>

        <div style="display: none;" class="shopping-lists shopping-lists--done">
            <h2>Erledigte Einkaufslisten </h2>
            <div [ngClass]="{'shopping-lists--2child': doneLists && doneLists.length == 2}" *ngFor="let shoppingList of doneLists" class="sl-shopping-list shopping-list" [shoppingList]="shoppingList">
            </div>
        </div>
    </div>

</div>
